* {
    color: lightgrey;
}

body {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../assets/fundo-alternativo.png');
}


.link{
    text-decoration: none;
    color: lightblue;
}
    

.sessao{
    text-align: center;
}

.sessao-fotos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 10px;
}

.sessao-fotos-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    border: 3px solid lightgrey;
    margin: 10px 0 5px 0 ;
}



.coordenadas {
    text-align: center;
    margin: 3px 5px;;
    font-size: 54px;
    color: lightgrey;
    text-shadow: 3px 3px 3px #3d1212;
    font-weight: bolder;
}

.texto-data {
    text-align: center;
    font-size: 22px;
    margin: 5px 5px 15px 15px;
    color: lightgrey;
}

.secao-coordenadas p {
    font-size: 28px;
    text-shadow: 2px 2px 8px rgb(126, 126, 126);
    margin: 0 10px;
    padding: 50px;
    align-self: center;
    text-align: justify;
}

.primeira-coordenada {
    padding-bottom: 45px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.video-caixa{
    text-align: center;
    width: 400px;
    height: 350px;
}

.mundo{
    display: none;
}

.hackerwoman {
    border-top: 2px solid rgba(148, 146, 146, 0.8);
    background: url('../assets/fundo-alternativo.png');
    background-color: pink;
    color: aqua;
    padding: 2em;
    font-family: 'Inconsolata', monospace;
    position: relative;
    height: 50px;
}

.hackerwoman button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: lightgrey;
    font-weight: bold;
    font-size: 22px;
    background: rgb(119, 118, 118);
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    width: 25%;
    box-shadow: 1px 1px 8px black;
    transition: all 1s;
}

.hackerwoman button:hover {
    width: 50%;
}   

.hackerwoman .container {
    border: 2px solid rgb(39, 39, 39);
    background: rgb(235, 162, 174);
    border-radius: 10px;
    margin: 0 15em;
    padding: 1em;
    box-shadow: 5px 5px 15px black;
    transition: all 1s;
    display: none;
    grid-template-columns: 1fr 1fr;
}

.hackerwoman .container:hover {
    box-shadow: 10px 10px 25px black;
    transform: scale(1.01);
}   


@media (max-width: 1440px) {
    .texto-container1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .secao-coordenadas p {
        font-size: 24px;
        text-shadow: 2px 2px 8px rgb(126, 126, 126);
        margin: 0 10px;
        padding: 0;
    }

    .coordenadas{
        padding-top: 34px;
    }

    .hackerwoman .container {
        border: 2px solid rgb(39, 39, 39);
        background: lightgrey;;
        border-radius: 10px;
        margin: 0;
        padding: 1em;
        box-shadow: 5px 5px 15px black;
        transition: all 1s;
        display: none;  
        grid-template-columns: 1fr 1fr;
    }

    .pedido {
        margin: 25px 30px 0 45px;
        padding: 15px 0;
        border: 2px solid purple;
        border-radius: 5px;
        background: rgb(211, 131, 187);
        text-align: center;
    }
    
    .pedido-pergunta {
        margin: 15px 0 5px 0;
        text-align: center;
    }
    
    #icone-globo1 {
        width: 25px;
        justify-content: bottom;
    }
    
    #icone-globo2 {
        width: 30px;
        justify-content: bottom;
    }
    
    .pedido-pergunta p {
        display: inline;
        font-weight: bold;
        text-decoration: underline;
        font-size: 42px;
        justify-content: center;
        margin: 0 3px;
        text-shadow: 2px 2px 5px rgb(187, 39, 187);
    }
    
    .pedido-resposta {
        font-size: 32px;
        text-align: justify;
        margin: 15px 0 0 45px;
        font-weight: bold;
        text-shadow: 1px 1px 5px rebeccapurple;
        margin-left: 30%;
    }
    
    .pedido-resposta input {
        margin: 15px 0;
    }

    #gif-coracao1 {
        width: 150px;
    }
    
    #gif-flores {
        width: 225px;
        display: inline;
        margin-left: 45px;
    }
    
    #gif-coracao2 {
        width: 200px;
        margin: 50px 0 0 50px;
    }
    
    #foto-hackerwoman {
        width: 225px;
        margin: 0 0 50px 15px;
    }
}

@media (max-width: 768px) {
    .coordenadas {
        font-size: 26px;
        text-shadow: 2px 2px 5px #3d1212;
    }

    .texto-data {
        font-size: 16px;
    }

    .primeira-coordenada {
        padding-bottom: 25px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .texto-container1{
        display: flex;
        flex-direction: column;
    }

    .video{
        width: 280px;
        border: 1px solid lightblue;
        border-radius: 10px;
    }
    
    .video-caixa{
        width: 280px;
        height: 350px;
    }

    .mundo{
        display: flex; 
        width: 200px;
        height: 200px;
        margin: 25px 0;
    }

    #texto-alternativo-2{
        text-align: center;
        display: block;
    }

    .sessao-fotos{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 8px;
        margin: 0 10px;
    }

    .data{
        display: none;
    }

    .foto{
        width: 170px;
    }

    #iframe-pra-mobile {
        display: block;
    }

    #iframe-normal {
        display: none;
    }
    
    .texto-container2 {
        display: block;
    }
    
    .texto-container2 iframe {
        width: 100%;
        height: 100%;
    }
    
    .texto-container2 img {
        width: 100%;
        height: auto;
        transition: all 1s;
    }

    .hackerwoman {
        border-top: 2px solid rgba(148, 146, 146, 0.8);
        background: url('../assets/fundo-alternativo.png');
        background-color: pink;
        color: aqua;
        padding: 0.5em;
        font-family: 'Inconsolata', monospace;
        position: relative;
        height: 75px;
    }
    
    .hackerwoman button {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: lightgrey;
        font-weight: bold;
        font-size: 22px;
        background: rgb(119, 118, 118);;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 10px;
        cursor: pointer;
        padding: 6px;
        width: 50%;
        box-shadow: 1px 1px 8px black;
        transition: all 1s;
    }
    
    .hackerwoman button:hover {
        width: 50%;
    }
    
    .hackerwoman .container {
        border: 2px solid rgb(39, 39, 39);
        background: rgb(235, 162, 174);
        border-radius: 10px;
        margin: 0;
        padding: 1em;
        box-shadow: 5px 5px 15px black;
        transition: all 1s;
        display: none;
        grid-template-columns: 1fr;
    }
    
    .hackerwoman .container:hover {
        box-shadow: 10px 10px 25px black;
        transform: scale(1);
    }

}
